  <div class="h-100 p-3  rounded-3 border position-relative">
    <ngx-spinner [fullScreen]="false" name="loadingspinner" type="ball-clip-rotate-multiple" size="medium">
      <p class="loading text-white">Loading entries...</p>
    </ngx-spinner>
    <h2>Entries list</h2>
    <table class="table table-hover" *ngIf="entries?.data.length >0">
      <thead class="table-dark">
        <tr>
          <th scope="col">Service</th>
          <th scope="col">Note</th>
          <th scope="col">Time</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of entries?.data">
          <td>
            <b>{{item.relationships.project.data.attributes.name}}</b>
            <br>
            {{item.relationships.service.data.attributes.name}}
          </td>
          <td>{{item.attributes.note}}</td>
          <td>{{item.attributes.time}}</td>
          <td>
            <i  class="bi-pencil-square pull-right hover" style="font-size:1.5rem;"
                title="Edit entry"
                (click)="editEntry(item)"></i>
            <i  class="bi-trash pull-right hover margin-right-10" style="font-size: 1.5rem;color: red;"
                title="Delete entry"
                (click)="deleteEntry(item)"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="table table-hover" *ngIf="entries?.data.length == 0"> There si no saved entries for today, please use form
      on the right side to add some. </p>
  </div>
